
<h2>
  <% if @i==1 %> We played rock!
  <% elsif @i==2 %> We played paper!
  <% else%> We played scissor!
  <% end %>
</h2>

<h2>
  <% if @j==1 %>They played rock!
  <% elsif @j==2 %>They played paper!
  <% else%>They played scissor!
  <% end %>
</h2>

<h2>
  <% if @j==@i %> We tied!
  <% elsif (@i - @j) == 1 || (@j-@i) == 2 %> We won!
  <% else %> We lost!
  <% end %>
</h2>

<a href="/">
    Rules
  </a>
