
<h2>
  We played <% if @i==1.0 %>rock!
  <% elsif @i==2.0 %> paper!
  <% else%> scissor!
  <% end %>
</h2>

<h2>
  They played <% if @j==1.0 %>rock!
  <% elsif @i==2.0 %> paper!
  <% else%> scissor!
  <% end %>
</h2>

<h2>
  We <% if @j==@i %>tied!
  <% elsif (@i-@j)==1.0 || (@i-@j)==-2.0 %> won!
  <% else%> lost!
  <% end %>
</h2>

<a href="/">
    Rules
  </a>
